.rst-versions.shift-up { overflow-y: auto; }
dd.current-version { font-weight: 700; }

/* Monospace font */
/* License: fonts/RobotoMono-LICENSE.txt */
@font-face {
  font-family: 'roboto-mono';
  src: url('fonts/RobotoMono-Regular.woff2') format('woff2'),
       url('fonts/RobotoMono-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'roboto-mono';
  src: url('fonts/RobotoMono-Bold.woff2') format('woff2'),
       url('fonts/RobotoMono-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'roboto-mono';
  src: url('fonts/RobotoMono-Italic.woff2') format('woff2'),
       url('fonts/RobotoMono-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'roboto-mono';
  src: url('fonts/RobotoMono-BoldItalic.woff2') format('woff2'),
       url('fonts/RobotoMono-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

:root { --font-monospace: 'roboto-mono'; }

.rst-content code,
.rst-content tt,
.rst-content kbd,
.rst-content pre,
.rst-content pre.literal-block,
.rst-content div[class^=highlight] pre,
.rst-content samp,
.rst-content .linenodiv pre,
.rst-content footer span.commit tt,
footer span.commit .rst-content tt,
footer span.commit code,
html.writer-html4 .rst-content dl:not(.docutils) .descclassname,
html.writer-html4 .rst-content dl:not(.docutils) .descname,
html.writer-html4 .rst-content dl:not(.docutils) .sig-name,
html.writer-html5 .rst-content
  dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple)
  .descclassname,
html.writer-html5 .rst-content
  dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple)
  .descname,
html.writer-html5 .rst-content
  dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple)
  .sig-name,
code {
  font-family: var(--font-monospace);
}
